<div class="main-div">

  <mat-card class="nasa-card">

    <mat-card-header>

      <mat-card-title class="card-title">
        NASA Astronomy Picture of the 6 days before to today's date
      </mat-card-title>

    </mat-card-header>

    <div layout="row" class="row-div">

      <div class="block-div">

        <div class="title-div">
          {{ apodObject6DaysAgo.title }}
        </div>

        <div class="img-div" *ngIf="apodObject6DaysAgo.media_type === 'video'">
          <iframe *ngIf="apodObject6DaysAgo.media_type === 'video'" [src]="apodObject6DaysAgo.url | safe: 'resourceUrl'"
            class="img-card" allowfullscreen></iframe>
        </div>

        <div class="img-div" *ngIf="apodObject6DaysAgo.media_type === 'image'">
          <img class="img-card" [src]="apodObject6DaysAgo.url" alt=" No se puede mostrar la imagen." />
        </div>

        <div class="date-div">
          {{ apodObject6DaysAgo.date | date : "dd/MM/yyyy" }}
        </div>

        <div class="button-div">
          <button mat-raised-button color="primary" (click)="goToDetail(apodObject6DaysAgo) ">
            <mat-icon>image_search</mat-icon>
          </button>
        </div>

      </div>

      <div class="block-div">

        <div class="title-div">
          {{ apodObject5DaysAgo.title }}
        </div>

        <div class="img-div" *ngIf="apodObject5DaysAgo.media_type === 'video'">
          <iframe *ngIf="apodObject5DaysAgo.media_type === 'video'" [src]="apodObject5DaysAgo.url | safe: 'resourceUrl'"
            class="img-card" allowfullscreen></iframe>
        </div>

        <div class="img-div" *ngIf="apodObject5DaysAgo.media_type === 'image'">
          <img class="img-card" [src]="apodObject5DaysAgo.url" alt=" No se puede mostrar la imagen." />
        </div>

        <div class="date-div">
          {{ apodObject5DaysAgo.date | date : "dd/MM/yyyy" }}
        </div>

        <div class="button-div">
          <button mat-raised-button color="primary" (click)="goToDetail(apodObject5DaysAgo)">
            <mat-icon>image_search</mat-icon>
          </button>
        </div>

      </div>

      <div class="block-div">

        <div class="title-div">
          {{ apodObject4DaysAgo.title }}
        </div>

        <div class="img-div" *ngIf="apodObject4DaysAgo.media_type === 'video'">
          <iframe *ngIf="apodObject4DaysAgo.media_type === 'video'" [src]="apodObject4DaysAgo.url | safe: 'resourceUrl'"
            class="img-card" allowfullscreen></iframe>
        </div>

        <div class="img-div" *ngIf="apodObject4DaysAgo.media_type === 'image'">
          <img class="img-card" [src]="apodObject4DaysAgo.url" alt=" No se puede mostrar la imagen." />
        </div>

        <div class="date-div">
          {{ apodObject4DaysAgo.date | date : "dd/MM/yyyy" }}
        </div>

        <div class="button-div">
          <button mat-raised-button color="primary" (click)="goToDetail(apodObject4DaysAgo)">
            <mat-icon>image_search</mat-icon>
          </button>
        </div>

      </div>

    </div>

    <div layout="row" class="row-div">

      <div class="block-div">

        <div class="title-div">
          {{ apodObject3DaysAgo.title }}
        </div>

        <div class="img-div" *ngIf="apodObject3DaysAgo.media_type === 'video'">
          <iframe *ngIf="apodObject3DaysAgo.media_type === 'video'" [src]="apodObject3DaysAgo.url | safe: 'resourceUrl'"
            class="img-card" allowfullscreen></iframe>
        </div>

        <div class="img-div" *ngIf="apodObject3DaysAgo.media_type === 'image'">
          <img class="img-card" [src]="apodObject3DaysAgo.url" alt=" No se puede mostrar la imagen." />
        </div>

        <div class="date-div">
          {{ apodObject3DaysAgo.date | date : "dd/MM/yyyy" }}
        </div>

        <div class="button-div">
          <button mat-raised-button color="primary" (click)="goToDetail(apodObject3DaysAgo)">
            <mat-icon>image_search</mat-icon>
          </button>
        </div>

      </div>

      <div class="block-div">

        <div class="title-div">
          {{ apodObject2DaysAgo.title }}
        </div>

        <div class="img-div" *ngIf="apodObject2DaysAgo.media_type === 'video'">
          <iframe *ngIf="apodObject2DaysAgo.media_type === 'video'" [src]="apodObject2DaysAgo.url | safe: 'resourceUrl'"
            class="img-card" allowfullscreen></iframe>
        </div>

        <div class="img-div" *ngIf="apodObject2DaysAgo.media_type === 'image'">
          <img class="img-card" [src]="apodObject2DaysAgo.url" alt=" No se puede mostrar la imagen." />
        </div>

        <div class="date-div">
          {{ apodObject2DaysAgo.date | date : "dd/MM/yyyy" }}
        </div>

        <div class="button-div">
          <button mat-raised-button color="primary" (click)="goToDetail(apodObject2DaysAgo)">
            <mat-icon>image_search</mat-icon>
          </button>
        </div>

      </div>

      <div class="block-div">

        <div class="title-div">
          {{ apodObject1DayAgo.title }}
        </div>

        <div class="img-div" *ngIf="apodObject1DayAgo.media_type === 'video'">
          <iframe *ngIf="apodObject1DayAgo.media_type === 'video'" [src]="apodObject1DayAgo.url | safe: 'resourceUrl'"
            class="img-card" allowfullscreen></iframe>
        </div>

        <div class="img-div" *ngIf="apodObject1DayAgo.media_type === 'image'">
          <img class="img-card" [src]="apodObject1DayAgo.url" alt=" No se puede mostrar la imagen." />
        </div>

        <div class="date-div">
          {{ apodObject1DayAgo.date | date : "dd/MM/yyyy" }}
        </div>

        <div class="button-div">
          <button mat-raised-button color="primary" (click)="goToDetail(apodObject1DayAgo)">
            <mat-icon>image_search</mat-icon>
          </button>
        </div>

      </div>

    </div>

    <div layout="row" class="footer-row-div" >
      <mat-divider inset></mat-divider>
    </div>

    <div layout="row" class="footer-row-div-2">

      <div class="footer-block-div">
        <img src="./assets/images/logo-atmira.png" />
      </div>

      <div class="footer-block-div-2">

        <button mat-button>
          <a href="https://www.instagram.com/atmiraespaciodeconsultoria/?hl=es">
            <img class="icon" src="./assets/images/instagram-redes.png" alt="Icono Instagram" />
          </a>
        </button>

        <button mat-button>
          <a href="https://www.linkedin.com/company/atmira/?originalSubdomain=es">
            <img class="icon" src="./assets/images/linkedin-redes.png" alt="Icono Linkedin" />
          </a>
        </button>

        <button mat-button>
          <a href="https://twitter.com/atmira_oficial">
            <img class="icon" src="./assets/images/twitter-redes.png" alt="Icono Twitter" />
          </a>
        </button>

        <button mat-button>
          <a href="https://www.youtube.com/channel/UC27Bmwu1N5KJGqmzcWI1cHQ">
            <img class="icon" src="./assets/images/youtube-redes.png" alt="Icono Youtube" />
          </a>
        </button>

      </div>

    </div>

  </mat-card>

</div>
